
header {
    background-color:#fff;
}

.blurb {
    width:70vw;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top:20px;
    padding:20px;
}

h1.brand {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    text-align: left;
    background-color: white;
    padding: 40px 20px;
    margin:0px;
    text-transform: uppercase;
}
body {
    background: url(darkbackground.jpg)
        center center/cover no-repeat;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

h1.title {
    text-align: center;
    background-color: bisque;
    padding: 30px;
    margin:0px;
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    width:300px;
    height: 450px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: grayscale(100%);
    transition-duration: 1s;
}

img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}  

footer {
    background-color: #ffffff;
    /* display: -webkit-flex; 
    display: flex; */
    justify-content: center; 
    text-align: center;
    align-items: center;
    height: 150px;
    min-width: 95vw;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: #ffe4c4;
    border: none;
    border-radius: 15px;
    margin:auto;
    margin-bottom:20px;
    display:block;
 
 }
  
button:hover {
  background-color: #d4b5b5;
  color: #fff;
}

a {
    text-decoration: none;
}

button:active {
background-color: #d4b5b5;
transform: translateY(4px);
}

